:root {
  --c1: #E88D67;
  --c2: #F3F7EC;
  --c3: #006989;
  --c4: #005C78;
}

.logo-img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.pork-head {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.header-text {
    text-align: center;
    color: var(--c1);
}

.article img{
  border-radius: 50%;
  margin-bottom: 20px;
}

.social {
  text-align: center;
}

.social small {
  margin-right: 15px;
}

.about h1{
  text-align: center;
}

.who-h1 {
  text-align: center;
}

.who p {
  text-align: left;
}

.about-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.about-pic h2,h5 {
  text-align: center;
}

.zoom {
  /* padding: 50px;
  background-color: green; */
  transition: transform .2s; /* Animation */
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom-img:hover {
  transition: transform .2s;
  transform: scale(1.5);
}